@model Web.Models.LoginViewModel

<div class="card">
    <h1 class="card-header alert-primary">Введите данные для входа</h1>
    <div class="card-body">
        <form method="post" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bolder" asp-for="RememberMe"></label>
                <input class="form-control" asp-for="RememberMe" />
            </div>
            <input class="form-control btn btn-success" type="submit" value="Войти!" />
        </form>
    </div>
</div>
