@model Web.Models.RecipeViewModel
<script src="~/js/recipe.js"></script>

<div class="card">
    <h1 class="card-header alert-success">Добавление рецепта</h1>
    <div class="card-body">
        <form asp-controller="Recipe" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Title"></label>
                <input class="form-control" type="text" asp-for="Title">
            </div>
            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Category"></label>
                <select class="form-control" asp-for="Category" asp-items="Model.Categories"></select>
            </div>

            <hr />
            <div class="form-group text-center font-weight-bolder">Требуемое время для</div>
            <div class="row text-center">
                <div class="col align-text-bottom">
                    <label asp-for="PrepTime"></label>
                </div>
                <div class="col align-text-bottom">
                    <label asp-for="CookTime"></label>
                </div>
                <div class="col align-text-bottom">
                    <label asp-for="Marinade"></label>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <input class="form-control" type="number" asp-for="PrepTime"/>
                </div>
                <div class="col">
                    <input class="form-control" type="number" asp-for="CookTime"/>
                </div>
                <div class="col">
                    <input class="form-control" type="number" asp-for="Marinade"/>
                </div>
            </div>
            <br />
            <hr />

            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Difficulty"></label>
                <select class="form-control" asp-for="Difficulty" asp-items="Model.Difficulties"></select>
            </div>

            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Ingredients"></label>
                <div id="IngredientDiv">
                    <input class="form-control" type="text" asp-for="Ingredients" name="Ingredients" placeholder="Введите какой-нибудь ингредиент" />
                </div>
                <input class="form-control btn btn-outline-info" type="button" value="Добавить новый ингредиент" onclick="AddType(`ingredient`, ``,  ``)" />
            </div>

            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Methods"></label>
                <div id="MethodDiv">
                    <textarea class="form-control" asp-for="Methods" name="Methods" placeholder="Введите первый шаг приготовления!"></textarea>
                </div>
                <input class="form-control btn btn-outline-info" type="button" value="Добавить новый шаг" onclick="AddType(`method`, ``,  ``)" />
            </div>

            <div class="form-group">
                <label class="font-weight-bolder" asp-for="Tips"></label>
                <div id="TipDiv">
                    <textarea class="form-control" asp-for="Tips" name="Tips" placeholder="Возможно у вас есть какие-то хитрости в приготовлении?"></textarea>
                </div>
                <input class="form-control btn btn-outline-info" type="button" value="Добавить подсказку или совет" onclick="AddType(`tip`, ``,  ``)" />
            </div>

            <div class="form-group">
                <label class="font-weight-bolder" asp-for="RecipeImage"></label><br />
                <input type="file" asp-for="RecipeImage" accept="image/*" />
            </div>

            <input class="form-control btn btn-success" type="submit" value="Опубликовать рецепт!" />
        </form>
    </div>
</div>
